doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet' href='/stylesheets/reset.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
    block content
    block footer
    block scripts
